:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: rgb(207, 241, 247, 0.9);
  --background-end-rgb: 255, 255, 255;

  --teal: #87dced;
  --salad: #8aed87;

  --primary-glow: conic-gradient(
    from 180deg at 50% 90%,
    #ac87ed 0deg,
    #87dced 55deg,
    #ac87ed 120deg,
    #87edac 160deg,
    transparent 360deg
  );
  --secondary-glow: radial-gradient(
    rgb(29, 166, 194, 0.6),
    rgba(255, 255, 255, 1)
  );

  --callout-rgb: 238, 240, 241;
  --callout-border-rgb: 172, 175, 176;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "DM Sans", sans-serif;
}

h2 {
  margin-top: 0;
  color: #fff;
  font-size: 1.7rem;
}
h3 {
  margin-top: 0.9rem;
  margin-bottom: 0.9rem;
  font-weight: 600;
  color: #000;
}
h5 {
  margin-bottom: 0;
  font-size: 1rem;
}

/* footer */
.footer {
  background-color: #878aed;
  padding: 0.75rem;
  color: white;
  text-align: center;
  font-size: 0.75rem;
  font-family: var(--font-mono);
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
