.wrap {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(345px, auto));
  grid-gap: 1rem;
  margin: 0;
  padding: var(--pad);
  margin-top: -5px;
}
.seeAll {
  text-align: right;
  margin-bottom: 8px;
  margin-top: -14px;
}
.leftPane {
  padding: 0;
}

.card {
  border-radius: var(--border-radius);
  padding: 1.5rem;
  border: var(--card-border);
  background-color: rgb(231, 231, 251);
  margin-top: 15px;
  margin-bottom: 15px;   
}

.error {
  text-align:center;
  width:90%;
  margin:25px auto;
  background-color: rgba(216, 112, 147, 0.434);
}


.lang {
  padding: 6px 8px;
  margin-right: 10px;
  border-radius: var(--border-radius);
  background-color: #87dced;
  font-size: 13px;
  font-family: var(--font-mono);
  color: #000;
  display: inline-block;
  margin-bottom: 10px;
  clear: both;
}
.language_bar {
  word-break: break-all;
  max-width: 300px;
}
