.repos {
  padding: 0;
  position: relative;
}
.repos > ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(345px, 3fr));
  grid-gap: 1rem;
  margin: 0;
  padding: 0;
}

.repos > ul > li {
  list-style-type: none;
  border: var(--card-border);
  border-radius: 1.2rem;
  box-shadow: 0 0.75rem 1.5rem rgba(2, 151, 180, 0.25),
    0 0.0625rem 0.0625rem rgba(2, 151, 180, 0.16);
  padding: var(--card-padding);
}

.repos > ul > li > p {
  font-size: 0.8rem;
  line-height: 1.5;
  color: #041527;
}

.repos > ul > li .repostats {
  display: flex;
  -webkit-box-pack: justify;
  align-items: center;
  justify-content: space-between;
  font-size: 13px;
  color: rgb(106, 115, 125);
  margin-bottom: 10px;
  margin-top: 10px;
}
.language {
  display: flex;
}
.language svg {
  margin-right: 5px;
  margin-top: 2px;
}
.repostats span {
  color: var(--salad);
  font-size: 13px;
}
